@import '@/styles/general/variables';

.search {
    margin-block: 1em;

    .input-container {
        margin-inline: 1em;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        .input {
            padding: 0.5rem 1rem;
            border: 1px solid $clr-gray;
            border-radius: 1000vmax;
            width: 100%;

            &:focus {
                outline: none;
                border-color: $clr-dark;
            }

            &::placeholder {
                color: $clr-gray;
                font-size: $fs-300;
            }
        }

        svg {
            margin-left: 1rem;
            width: 1.5em;
            height: 1.5em;
        }
    }

    svg {
        fill: $clr-dark;
    }

    .results {
        & > p:not([class]) {
            margin: 1rem 1em 0.75rem;
            font-weight: 500;
        }

        p.no-results {
            margin: 0.75rem 1em;
        }
    }
}
