@import '@/styles/general/variables';

.footer {
    padding: 1.5rem 5% 1rem;
    width: 100%;
    color: $clr-light;
    background-color: $clr-accent;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        align-items: center;
    }

    .section ul {
        margin-bottom: 1rem;
        margin-right: 0.5rem;
        list-style: none;

        li {
            margin-block: 0.5rem;
            color: $clr-light;
            font-size: 0.9rem;

            &:first-of-type {
                margin-top: 0;
            }
        }
    }

    .small {
        margin-top: 1.25rem;
        padding-top: 0.75rem;
        border-top: 0.1px solid rgba(255, 255, 255, 0.2);
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.7rem;
        font-weight: 300;
        text-align: center;
    }
}
